
.body-home {
    background-color: lightgrey;
}
header h1{
    background-color: #cfc96a;
    color: black;
    opacity: 0.7;
    font-size: 3em;
    padding: 5px;
    text-align: center;
}
header {
    grid-area: header;
    background-image: url(../images/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
nav {
    grid-area: nav;
    background-color: #feda41;

}
main-1 {
    grid-area: main1;
    background-color: #feda41;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
main-2 {
    grid-area: main2;
    background-color: #feda41;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    grid-area: footer;
    color: black;
    background-color: #feda41;
    text-align: center;
    padding: 5px;
}
footer h1{
    color: black;
    font-size: 1.5em;
    text-align: center;
}
footer a{
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
    border-top: 1px solid black;
}
nav li {
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

nav li:hover {
  background-color: #cfc96a;
}

#template-home {  
    font-family: Verdana, Arial, sans-serif;
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .55fr 0.1fr .5fr .5fr 0.2fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "nav"
    "main1"
    "main2"
    "footer";
}


/* Style elements relating to main-1, i.e. the to-do list */
main-1 * {
    box-sizing: border-box;
  }

  main-1 ul {
    margin: 0;
    padding: 0;
    list-style-type:none
  }
  
  main-1 ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #feda41;
    font-size: 18px;
    transition: 0.2s;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  main-1 ul li:nth-child(odd) {
    background: #cfc96a;
  }
  
  main-1 ul li:hover {
    background: #ddd;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: palegreen;
  }



/* Style elements relating to main-2, i.e. the counter */
main-2 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main-2 div{
  display: grid;
  /* min-height: 100%; */
  place-items: center;
}

.card {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.name{
  font-size: 18px;
  margin-bottom: 1rem;
}

#counter{
  font-size: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prevBtn, .nextBtn{
  font-size: 1.3rem;
  outline: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}








@media (min-width: 600px) {
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    border-top: none;
    
}
nav li {
    border-bottom: none;
    border-right: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#template-home {  
    font-family: Verdana, Arial, sans-serif;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.3fr 3fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header"
    "nav nav"
    "main1 main2"
    "footer footer";
}
}